<ion-view title="Kiwi">
<ion-content class="padding">
<div data-ng-controller="DashProCtrl">
	<div class="loader" ng-show="ayush"> <div class="loaderin"><i class="ion-loading-c"></i><br>Loading</div></div>
	<center data-ng-show="hand" style="margin-top:40px;" data-ng-model="errorpro"><i class="ion-android-hand" style="font-size:30px;"></i> <br>{{ errorpro }}</center>
<!--   <p data-ng-repeat="pron in pro"><br>{{ pron.raw }}</p> -->
  <div class="card">
  	<div class="item item-divider" data-ng-model="wp">
    {{ wp }}
  </div>
  <div class="item item-text-wrap" data-ng-repeat="pron in pro">
    {{ pron.raw }}
  </div>
</div>
</div>
</ion-content>
</ion-view>