<ion-view title="Kiwi">
<ion-content class="padding">

<div class="list card">

  <div class="item item-avatar">
    <img src="img/kiwi.png">
    <h2><b>Kiwi</b></h2>
    <p>A Dictionary</p>
  </div>

  <div class="item item-text-wrap" style="text-align:justify;">
   Kiwi is an online educational dictionary application for Android which work on the APIs of http://Wordnik.com
   This is best android app to improve your vocabulary skills by challenging yourself and others with different activities and word games.
  </div>

  <div class="item item-text-wrap"  >
    <h3>Connect:</h3>
   	<i class="ion-email" style="font-size:30px;"></i>&nbsp; kiwi@ayusharma.in

  </div>

  <div class="item item-text-wrap"  >
    <h3>Developer Info:</h3>
    <i class="ion-earth" style="font-size:30px;"></i>&nbsp;http://ayusharma.in
  </div>

</div>
</ion-content>
</ion-view>	