<ion-view title="Kiwi">
<ion-content class="padding">

<div class="list card">

  <div class="item item-avatar">
    <img src="img/kiwi.png">
    <h2><b>Kiwi</b></h2>
    <p>A Dictionaty</p>
  </div>

  <div class="item item-image">
   kfnjksnfkj
   slkdfn;s
   ms'dfm
   smfd'
  </div>

  <div class="item">
    <h3>Connect:</h3>
   	<a href="https://github.com/ayusharma/kiwi"><i class="ion-social-github" style="font-size:30px;"></i></a>&nbsp;
   	<a href="http://ayusharma.in"><i class="ion-earth" style="font-size:30px;"></i></a>
  </div>

</div>
</ion-content>
</ion-view>	