<ion-view title="Kiwi">
<ion-content class="padding">
<div class="list card" data-ng-controller="ActivityCtrl">
  
  <a class="item item-icon-left" href="#/tab/activity/wod">
    <i class="icon ion-calendar"></i>
    Word of the Day
  </a>

  <a class="item item-icon-left" href="#/tab/activity/mtc">
    <i class="icon ion-android-stair-drawer"></i>
    Match the Coloumn
  </a>

<!--   <a class="item item-icon-left " href="#/tab/dash/pro">
    <i class="icon ion-android-mixer"></i>
    Scrabble Solver
  </a> -->
 <!--  <a class="item item-icon-left " href="#/tab/dash/related" data-ng-click="wordMean()">
    <i class="icon ion-fork-repo"></i>
    Related Words
  </a>
  <a class="item item-icon-left " href="#/tab/dash/audio" data-ng-click="wordMean()">
    <i class="icon ion-headphone"></i>
    Listen Audio
  </a> -->
</div>
</ion-content>
</ion-view> 